body {
	background: URL("../images/background.png");
	width:100%;
	overflow-x: hidden
}

.topFull {
	background-color: #fff;
	height: 82px;
	border-bottom: 2px solid #ccc;
	width: 100%;
}

.navbar-nav {
	float:right;
}

.navbar-header {
	background-color: #4aaaa5;
}

.navbar-brand {
	color: #fff;
	text-decoration:none;
	height:80px;
}

.navbar-brand h1 {
	color: #fff;
}

.navbar-default {
	background-color: #fff;
	border: none;
}

#profPic {
	float:left;
}

#content {
	background-color:#fff;
	border: 1px solid #ccc;
}

#connect {
	background-color:#fff;
	border: 1px solid #ccc;
}