body {
	background: URL("../images/background.png");
	overflow-x:hidden;
}

.top {
	background-color: #fff;
	border-bottom: 2px solid #ccc;
	padding:0px;
}

.current {
	font-weight:bold;
}

.header {
	text-align:center;
	background-color: #4aaaa5;
	color:#fff;
	margin-top:0px;
	margin-bottom:0px;
	height:60px;
	line-height:60px;
	font-size: 1.8em;
}

.navtop {
	text-align:center;
	text-decoration:none;
	color: #777;
	height:20px;
	font-size:1.2em;
	margin-top:20px;
	margin-bottom:20px;
	line-height:20px;
}

.navtop:hover {
	color:#4aaaa5;
	text-decoration:none;
}

#profPic {
	float:left;
	margin-top:10px;
	margin-bottom:5px;
}

.content {
	background-color:#fff;
	border: 1px solid #ccc;
	margin-top: 20px;
}

.content p {
	padding: 0px 5% 0px 5%;
}

.content h1 {
	color: #4aaaa5;
	border-bottom: 2px solid #ccc;
	padding-bottom: 10px;
	font-size: 1.4em;
}

.connect {
	background-color:#fff;
	border: 1px solid #ccc;
	margin-top: 20px;
	padding-bottom: 10px;
	margin-bottom:100px;
}

.connect h3 {
	color: #4aaaa5;
	font-size:1.2em;
	padding:0px;
}

.connecth h3 {
	border-bottom:2px solid #ccc;
	margin-bottom:10px;
	padding-left:0px;
}

.connect img {
	width:50px;
}

h3 .col-md-12 {
	text-align:center;
	padding-left:0px;
	padding-right:0px;
}

.col-md-12 {
	padding-left:0px;
	padding-right:0px;
}

footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	background-color: #666666;
	padding: 30px 0px 30px 0px;
	border-top: 10px solid #4aaaa5;
	width: 100%;
	text-align: center;
	color: #fff;
	z-index: 2;
	font-size: 12px;
}

#portfolio {
	width:auto;
}

input {
	width: 100%;
	height: 20px;
	margin: 5px 0px 10px 0px;
}

textarea {
	width: 100%;
	height: 200px;
	margin: 5px 0px 10px 0px;
}

button {
	width: 20%;
	background-color: #4aaaa5;
	border:none;
	padding: 5px 0px 5px 0px;
	color: #fff;
	font-size: 20px;
	margin-bottom: 30px;
}